<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.cnpmjs.org/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <input type="range" min="2" max="178" id="X">
    <label for="X">X</label>
    <br>
    <input type="range" min="2" max="178" id="Y">
    <label for="Y">Y</label>
    <br>

    <input type="checkbox" id="stat">

    <label for="stat">stat</label>
    <br>
    <button id="submit">refresh</button>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript">

    $('#submit').click(function () {

        var formData = new FormData();
        formData.append('X', $('#X').val());
        formData.append('Y', $('#Y').val());
        if($('#stat').prop("checked")){
            formData.append('stat', "on");
        }
        else {
          formData.append('stat', "off");
        }


        formData.append('source', "U");
        $.ajax({
            url: '/api/live',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result) {

{#                    $('#X').val(result["X"]);#}
{#                    $('#Y').val(result["Y"]);#}
{#                    $('#stat').val(result["stat"]);#}

                    console.log(result)
                }
                else {
                    alert("获取设备信息失败")
                }

            }

        })
    });
</script>

</body>
</html>